ENV_SRC_LDAP_HOST=ldaps://...
ENV_SRC_LDAP_BASE=...
ENV_SRC_LDAP_PASS=...

ENV_DST_LDAP_DOMAIN=example.org
ENV_DST_LDAP_BASE=dc=example,dc=org
ENV_DST_LDAP_PASS=changethispassword

ENV_API_URL=https://console.jumpcloud.com
ENV_API_KEY=< your JumpCloud API key >
