DST_LDAP_BACKEND=mdb
DST_LDAP_DOMAIN=ldap.example.org
DST_LDAP_URI=ldap://ldap.example.org
DST_LDAP_BASEDN=dc=ldap,dc=example,dc=org
DST_LDAP_BINDDB=cn=admin,dc=ldap,dc=example,dc=org
DST_LDAP_PASSWD=test1234
